{{- define "application" -}}
apiVersion: skuld/v1alpha1
kind: Application
metadata:
  name: {{ .Metadata.Name }}
spec:
  handler: {{ .Spec.Handler }}
  source:
    path: {{ .Spec.Source.Path }}
    repoURL: {{ .Spec.Source.RepoURL }}
    user: {{ .Spec.Source.User }}
    accessToken: {{ encryptSecret $.Spec.Source.AccessToken $.AgeKeyFile}}
    targetRevision: {{ if .Spec.Source.TargetRevision }}{{ .Spec.Source.TargetRevision }}{{ else }}HEAD{{ end }}
  inventory:
  {{- range .Spec.Inventory }}
    - {{ . }}
  {{- end}}
  {{- if .Spec.SecretFiles }}
  secretFiles:
  {{- range .Spec.SecretFiles }}
    - {{ . }}
  {{- end }}
  {{- end }}
{{- end -}}
