{{- define "application" -}}
apiVersion: witness.dev/v1alpha1
kind: Application
metadata:
  name: {{ .Metadata.Name }}
spec:
  provisioner: {{ .Spec.Provisioner }}
  composeFiles:
{{- range .Spec.ComposeFiles }}
    - {{ . }}
{{- end }}
{{- if .Spec.Secrets }}
  secrets:
{{- range .Spec.Secrets }}
    - source: {{ .Source }}
      target: {{ .Target }}
      decryptor: {{ .Decryptor }}
{{- end }}
{{- end }}
{{- if .Spec.RegistryCredentials }}
  registryCredentials:
    registry: {{ .Spec.RegistryCredentials.Registry }}
    username: {{ .Spec.RegistryCredentials.Username }}
    password: {{ .Spec.RegistryCredentials.Password }}
{{- end }}
{{- end -}}
