{{- define "observer" }}
apiVersion: witness/v1alpha1
kind: Observer
metadata:
  name: {{ .Metadata.Name }}
  user: {{ .Metadata.User }}
spec:
  destination: {{ .Spec.Destination }}
  project: {{ .Spec.Project }}
  source:
    path: {{ .Spec.Source.Path }}
    repoURL: {{ .Spec.Source.RepoURL }}
    user: {{ .Spec.Source.User }}
    accessToken: {{ encryptSecret $.Spec.Source.AccessToken $.AgeKeyFile}}
    targetRevision: {{ if .Spec.Source.TargetRevision }}{{ .Spec.Source.TargetRevision }}{{ else }}HEAD{{ end }}
{{- end }}
