{{- define "service" }}
[Unit]
Description=Skuld CLI {{ .Observer.Metadata.Name }} service
Wants=network-online.target
After=network-online.target

Conflicts={{ .Observer.Metadata.Name | ToLower }}.service

[Service]
Type=oneshot

User={{ .Observer.Metadata.User }}
Group={{ .Observer.Metadata.User }}

ExecStart=/usr/local/bin/skuld-cli reconcile {{ .ManifestPath }} {{ .AgeFile }}

[Install]
WantedBy=multi-user.target
{{- end }}
