{{- define "service" }}
[Unit]
Description=Witness {{ .Observer.Metadata.Name }} service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User={{ .Observer.Metadata.User }}
Group={{ .Observer.Metadata.User }}
WorkingDirectory={{ .ObserverConfigPath }}
ExecStart=/usr/local/bin/witness reconcile {{ .ObserverConfigPath }}
SyslogIdentifier={{ .Observer.Metadata.Name }}
StandardOutput=journal
StandardError=journal

# Filesystem access
ProtectSystem=full
ProtectHome=no
ReadWritePaths={{ .Observer.Spec.Destination }} {{ .ObserverConfigPath }}

# Security hardening
PrivateTmp=yes
AmbientCapabilities=CAP_CHOWN
CapabilityBoundingSet=~CAP_SYS_ADMIN CAP_NET_ADMIN CAP_SYS_PTRACE
PrivateDevices=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX AF_NETLINK
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RemoveIPC=yes
SystemCallFilter=@system-service
SystemCallArchitectures=native
{{- end }}
