{{- define "timer" }}
[Unit]
Description=Skuld CLI {{ .Observer.Metadata.Name }} reconsile timer

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s

Persistent=true

[Install]
WantedBy=timers.target
{{- end }}
