{{- define "timer" }}
[Unit]
Description=Skuld CLI {{ .Observer.Metadata.Name }} reconsile timer

[Timer]
OnBootSec={{ ToSeconds $.Observer.Spec.Timeout.Reconciliation }}
OnUnitActiveSec={{ ToSeconds $.Observer.Spec.Timeout.Reconciliation }}

Persistent=true

[Install]
WantedBy=timers.target
{{- end }}
